header {
  padding: 2rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        height: 50px;
      }

      ul {
        margin-left: 0.5rem;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        li {
          margin-left: 0.75rem;
          font-size: 17px;
          font-weight: 600;
          color: $text-tertiary;
          transition: all 0.2s ease;

          &:hover {
            color: darken($text-tertiary, 27);
          }
        }
      }
    }

    .cta-lang {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &.dark {
    background-color: $darkmode-background;

    li {
      color: $darkmode-text-secondary !important;

      &:hover {
        color: darken($darkmode-text-secondary, 10) !important;
      }
    }
  }
}
