section.intro {
  background-color: $darkmode-background;
  padding: 5rem 0 3rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, $primary-gradient, $primary-gradient-alt);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
    color: $darkmode-text-primary;
    margin-bottom: 1rem;
  }

  p {
    color: $darkmode-text-tertiary;
    font-size: 1.5rem;
    max-width: 700px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .links {
    display: flex;

    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .col-md-6:last-child {
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}

section.about {
  padding: 3rem 0;
  background: $darkmode-background;

  .container {
    h2 {
      text-align: center;
      font-size: 2.75rem;
      color: $darkmode-text-primary;
      margin-bottom: 1.5rem;
    }

    .row {
      .col-md-4 div {
        padding: 2rem 1.5rem;
        height: 100%;

        h3 {
          font-size: 2rem;
          font-weight: 700;
          color: $text-primary;
          margin-bottom: 0.25rem;
        }

        p {
          font-size: 1.25rem;
          font-weight: 500;
          color: $text-primary;
        }
      }

      .col-md-4:first-child {
        padding-left: 0 !important;
        padding-right: 1rem !important;

        div {
          background: -webkit-linear-gradient(60deg, #60efff, #00ff87);
          border-radius: 1rem;
        }
      }

      .col-md-4:not(:first-child):not(:last-child) {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        div {
          background: -webkit-linear-gradient(60deg, #f9b16e, #f68080);
          border-radius: 1rem;
        }
      }

      .col-md-4:last-child {
        padding-right: 0 !important;
        padding-left: 1rem !important;
        div {
          background: -webkit-linear-gradient(60deg, #f8acff, #696eff);
          border-radius: 1rem;
        }
      }
    }
  }
}

section.download {
  padding: 3rem 0;
  background: $darkmode-background;

  .container {
    padding: 3rem 0;
    background: -webkit-linear-gradient(60deg, $primary-gradient, $primary-gradient-alt);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
      color: $darkmode-text-primary;
    }

    a {
      margin-top: 0.5rem;
    }
  }
}
