$primary: #0061ff;
$primary-gradient: adjust-hue($primary, -15);
$primary-gradient-alt: adjust-hue($primary, 15);
$text-primary: #111133;
$text-secondary: #444455;
$text-tertiary: #666677;

$darkmode-background: #070717;
$darkmode-text-primary: #f5f5f7;
$darkmode-text-secondary: #d7d7da;
$darkmode-text-tertiary: #b7b7ba;

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-weight: 600;
  transition: all 0.2s ease;
  letter-spacing: 0.25px;
}

.btn-s {
  font-size: 14px;
  padding: 12px 22px;
  border-radius: 6px;
}

.btn-l {
  font-size: 18px;
  padding: 12px 28px;
  border-radius: 10px;
}

.btn-primary {
  background-color: $primary;
  color: white;

  &:hover {
    background-color: darken($primary, 5);
  }
}

.btn-secondary {
  background-color: #000;
  color: white;

  &:hover {
    background-color: lighten(#000, 5);
  }
}

.btn-duotone {
  background-color: lighten($primary, 35);
  color: $primary;

  &:hover {
    background-color: lighten($primary, 33);
    color: $primary;
  }
}

.btn-outline {
  background: none;
  border: 2px solid $darkmode-text-primary;
  color: $darkmode-text-primary;

  &:hover {
    background: $darkmode-text-primary;
    color: $text-primary;
  }

  &.btn-l {
    padding: 8px 24px !important;
  }
}

@import "./Header";
@import "./Footer";
@import "./LanguageSwitcher";

@import "./index";
